body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #1f1550, #302b63, #24243e);
}

.main {
    width: 400px;
    height: 700px;
    background: red;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    text-align: center;
}

label {
    color: #fff;
    font-size: 1.2em; /* Ridotto per essere più piccolo */
    justify-content: center;
    display: flex;
    margin: 20px auto;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.totale{
    color: #fff;
    font-size: 4em; /* Aumentato per renderlo più grande */
    justify-content: center;
    display: flex;
    margin: 35px auto;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input, select, option {
    width: 60%;
    height: 40px;
    justify-content: center;
    display: flex;
    margin: 12px auto;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    font-size: 0.9em; /* Ridotto per input e select */
    margin-top: 3px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

button {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #000;  
    font-size: 0.9em; /* Ridotto per i bottoni */
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

button:hover {
    background: #dfee13;
}

#totale {
    font-size: 4em; /* Aumentato per il totale */
    transition: transform 1s ease-in-out, color 0.5s ease;
}
