<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storico</title>
</head>
<body>
    <div id="main">
        <table id="history">
            <tr>
                <th>id</th>
                <th>Nome</th>
                <th>Quantita</th>
                <th>Data</th>
                <th>Delete row</th>
            </tr>
            {% for row in history %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.nome }}</td>
                    <td>{{ row.qty }}</td>
                    <td>{{ row.time }}</td>
                    <td><a href="{{ url_for('delete_record', record_id=row.id) }}" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('homepage') }}">
            <button>Home</button>
        </a>
    </div>
</body>
</html>
