<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storico</title>
</head>
<body>
    <div id="main">
        <table id="history">
            <tr>
                <th>Nome</th>
                <th>Quantita</th>
                <th>Data</th>
                <th>Delete row</th>
            </tr>
            {% for row in history %}
                <tr>
                    <td>{{ row.nome }}</td>
                    <td>{{ row.qty }}</td>
                    <td>{{ row.time }}</td>
                    <td><a href="">delete</a></td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('homepage') }}">
            <button>Home</button>
        </a>
    </div>
</body>
</html>
