<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='records.css') }}">
</head>
<body>
    <div class="menu">
        <a href="{{ url_for('homepage') }}">Home</a>
        <a href="{{ url_for('show_rankings') }}">Ranking</a>
        <a href="{{ url_for('show_history') }}">History</a>
        <a href="#">about</a>
      </div>
    <div id="main">
        <table id="history">
            {% for row in history %}
            <tr>
                <td>
                    <div class="content">
                        <div class="top-row">
                            <span class="name">{{ row.nome }}</span>
                            <span class="quantity">{{ row.qty }}</span>
                        </div>
                        <div class="date-container">
                            <span>{{ row.time }}</span>
                        </div>
                    </div>
                </td>
                <td class="delete-container">
                    <a href="{{ url_for('delete_record', record_id=row.id) }}"
                       onclick="return confirm('Are you sure you want to delete this record?')" style="color: white; font-size: large;">
                       Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
