{% extends 'base.html' %}

{% block head %}

<title>HomePage</title>
<link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
<link rel="manifest" href="/manifest.json">

{% endblock %}

{% block body %}


<div class="main">  

<div class="data">
    <p class="totale" id="totale" data-value="{{ totale }}">{{ totale }}</p>
    <form method="post">
        <label for="user">Name:</label>
        <select name="user" id="user">
            {% for nome in nomi %}
            <option value="{{ nome  }}">{{ nome }}</option>
            {% endfor %}
        </select>
        <label>Insert your litres:</label>
        <input name="quantity" type="number" step="0.01" id="quantity">
        <div class="buttons">
            <button type="reset">Cancel</button>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
</div>
<script>
if ('serviceWorker' in navigator) {
  window.addEventListener('load', function() {
    navigator.serviceWorker.register("/sw.js").then(function(registration) {
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    }, function(err) {
      console.log('ServiceWorker registration failed: ', err);
    });
  });
}
</script>

{% endblock %}

