<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>

    <label for="nome">Select your name:</label>
    <select name="nome" id="nome">
        {% for nome in nomi %}
        <option value="{{ id }}">{{ nome }}</option>
        {% endfor %}
    </select>


    <form method="post">
        <label>Insert the liters</label>
        <input type="number" id="quantity"><br>
        <button type="reset">Cancel</button>
        <button type="submit">Submit</button>
    </form>
</body>
</html>