{% extends 'base.html' %}

{% block head %}

<title>Classifica</title>
<link rel="stylesheet" href="{{ url_for('static', filename='ranking.css') }}">

{% endblock %}

{% block body %}

<div class="menu">
    <div class="menu">
      <a href="{{ url_for('homepage') }}">Home</a>
      <a href="{{ url_for('show_rankings') }}">Ranking</a>
      <a href="{{ url_for('show_history') }}">History</a>
      <a href="#">about</a>
    </div>
   
    </div>
<div id="main">
    <table id="records">
        <tr>
            <th>Nome</th>
            <th>Totale</th>
        </tr>
        {% for nome, tot in totale %}
            <tr>
                <td>
                    <a href="{{ url_for('show_history', nome=nome) }}" style="color: white; text-decoration: none;">{{ nome }}</a>
                </td>
                <td>{{ tot }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

